body{
    background-color: #333;
    height: 100vh;
  }
  
.bloc-menu{
    height: 100px;
    width:100px;
    margin: 400px auto;
}
.nav-menu-item{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}